wishalloy.com {
	root * /srv/http
	file_server
}

git.wishalloy.com {
	reverse_proxy http://gitea:3000
}

unifi.wishalloy.com {
	reverse_proxy https://unifi:8443 {
		transport http {
			# Since the container is being reverse proxied, we do not need to verify
			# the controllers default cert:
			tls_insecure_skip_verify
		}
	}
}
